body {
   font-family: 'Open Sans', sans-serif;
   color: #777;
background: url(fon.jpg); 
	}
	
	a {
   color: #f58220;
 font-weight: 400;
	}
	
.mlogin {
   margin: 170px auto 0;
   border-radius:3px;
	}
	
.mregister {
  margin: 80px auto 0;
  border-radius:3px;
	}
	
.container {
	padding: 20px 16px 20px 10px;
	font-weight: 500;
	overflow: hidden;
	width: 350px;
	height: auto;
	background: white;
		}
		
.container h1 {
	color: #777;
	text-align: center;
	font-weight: 300;
   border: 1px dashed #777;
   margin-top: 13px;
	}
	
	#login {
  width: 320px;
	margin: auto;
	padding-bottom: 15px;
	}
	
	.container form .input,.container input[type=text],.container input[type=password] {
	font-size: 20px;
	line-height: 1;
	width: 100%;
	padding: 3px;
   margin: 0 6px 5px 0;
   border: 1px solid #d9d9d9;
	}
	
	.button{
	border: solid 1px #da7c0c;
	background: #f78d1d;
    color: #fff;
	padding: 7px 12px;
    border-radius:3px;
	float: right;
	cursor: pointer;	
	}
	
	.button:hover{
	background: #f47c20;
	}
	

	
